<!DOCTYPE html>
<html>

<head>
    <title>{{.Contest.Title}} - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.Contest.Title}}</strong>
            <a href="/"><strong>Problems</strong></a>
            <a href="/submissions">Submissions</a>
            <a href="/standings">Standings</a>
            <div>
                {{if .Session.User | len}}
                <strong>{{.Session.User}}</strong>
                {{else}}
                <a href="/login">Login</a>
                {{end}}
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>Problem List</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                {{range .Contest.Problems}}
                <tr>
                    <th scope="row">{{.ID}}</th>
                    <td><a href="/problem/{{.ID}}">{{.Title}}</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>