<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}} - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.Title}}</strong>
            <a href="/">Problems</a>
            <a href="/submissions">Submissions</a>
            <a href="/standings">Standings</a>
            <div>
                <a href="/login">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <p>Contest has not started. Please wait until {{.Start}}.</p>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>