<!DOCTYPE html>
<html>

<head>
    <title>{{.ContestTitle}} - {{.Index}}. {{.Problem.Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.ContestTitle}}</strong>
            <a href="/"><strong>Problems</strong></a>
            <a href="/submissions">Submissions</a>
            <a href="/standings">Standings</a>
            <div>
                {{if .Session.User | len}}
                <strong>{{.Session.User}}</strong>
                {{else}}
                <a href="/login">Login</a>
                {{end}}
            </div>
        </nav>
    </header>
    <main>
        <article>
            <h1>{{.Index}}. {{.Problem.Title}}</h1>
            <div class="center">
                <p>Time limit: {{.Problem.Time}} ms<br>Memory limit: {{.Problem.Memory}} MiB</p>
            </div>
            {{.Problem.Statement}}
            <h2>Examples</h2>
            <table class="examples">
                <thead>
                    <tr>
                        <th scope="col" style="width: 50%">Input</th>
                        <th scope="col" style="width: 50%">Output</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Problem.Examples}}
                    <tr>
                        <td style="width: 50%">
                            <pre><code>{{.Input}}</code></pre>
                        </td>
                        <td style="width: 50%">
                            <pre><code>{{.Answer}}</code></pre>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </article>
        <article>
            <h2>Submit</h2>
            <form action="/submit/{{.Index}}" method="post">
                <p><label for="language">Language: </label>
                    <select id="language" name="language" required>
                        <option value="" selected>Select a language…</option>
                        {{range $k, $v := .Contest.Languages}}
                        <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                    </select>
                </p>
                <p><textarea name="code" autocomplete="off" rows="6"></textarea></p>
                <p><button type="submit">Submit</button></p>
            </form>
        </article>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>