<!DOCTYPE html>
<html>

<head>
    <title>{{.Config.Title}} - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.Config.Title}}</strong>
            <a href="/"><strong>Problems</strong></a>
            <a href="/submission/">Submissions</a>
        </nav>
    </header>
    <main>
        <header>
            <h1>Rate Limit Exceeded</h1>
        </header>
        <p>Please submit again after {{.Time | time_format}}.</p>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>