<!DOCTYPE html>
<html>

<head>
    <title>Title - Standings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>Title</strong>
            <a href="/">Problems</a>
            <a href="/submissions">Submissions</a>
            <a href="/standings"><strong>Standings</strong></a>
            <div>
                <a href="/login">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>Standings</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Score</th>
                    <th scope="col">Penalty</th>
                    <th scope="col">A</th>
                    <th scope="col">B</th>
                    <th scope="col">C</th>
                    <th scope="col">D</th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <th scope="row">lrw04</th>
                    <td>2</td>
                    <td>10</td>
                    <td><span class="ac">+</span></td>
                    <td><span class="wa">-2</span></td>
                    <td>0</td>
                    <td><span class="ac">+4</span></td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>2</td>
                    <th scope="row">lrw04</th>
                    <td>2</td>
                    <td>10</td>
                    <td><span class="ac">+</span></td>
                    <td><span class="wa">-2</span></td>
                    <td>0</td>
                    <td><span class="ac">+4</span></td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>3</td>
                    <th scope="row">lrw04</th>
                    <td>2</td>
                    <td>10</td>
                    <td><span class="ac">+</span></td>
                    <td><span class="wa">-2</span></td>
                    <td>0</td>
                    <td><span class="ac">+4</span></td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>