<!DOCTYPE html>
<html>

<head>
    <title>Title - Submission #1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>Title</strong>
            <a href="/">Problems</a>
            <a href="/submissions"><strong>Submissions</strong></a>
            <div>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>Submission #1</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Code Size</th>
                    <th scope="col">Time</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Language</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Submitted at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><span class="ac">Accepted</span></td>
                    <td>88 B</td>
                    <td>96 ms</td>
                    <td>4 MiB</td>
                    <td>C++</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td>1:23</td>
                </tr>
            </tbody>
        </table>
        <pre><code>#include &lt;iostream&gt;
using namespace std;

int main() {
    int a, b;
    while (cin &gt;&gt; a &gt;&gt; b) cout &lt;&lt; a + b &lt;&lt; "\n";
}</code></pre>
        
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>