<!DOCTYPE html>
<html>

<head>
    <title>{{.Contest.Title}} - Submissions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.Contest.Title}}</strong>
            <a href="/">Problems</a>
            <a href="/submissions"><strong>Submissions</strong></a>
            <a href="/standings">Standings</a>
            <div>
                {{if .Session.User | len}}
                <strong>{{.Session.User}}</strong>
                {{else}}
                <a href="/login">Login</a>
                {{end}}
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>Submissions</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Status</th>
                    <th scope="col">Language</th>
                    <th scope="col">Code Size</th>
                    <th scope="col">Time</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Submitted at</th>
                </tr>
            </thead>
            <tbody>
                {{range .Listing}}
                <tr>
                    <th scope="row">{{.ID}}</th>
                    <td>{{.User}}</td>
                    <td><a href="/problem/{{.Problem}}">{{.ProblemTitle}}</a></td>
                    <td><a href="/submission/{{.ID}}"><span class="{{.Verdict}}"></span></a></td>
                    <td>{{.LanguageName}}</td>
                    <td>{{.Code | len}} B</td>
                    <td>{{.TimeUsage}} ms</td>
                    <td>{{.MemoryUsage}} MiB</td>
                    <td>{{.Time | time_format}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>