<!DOCTYPE html>
<html>

<head>
    <title>Title - Submissions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>Title</strong>
            <a href="/">Problems</a>
            <a href="/submissions"><strong>Submissions</strong></a>
            <div><a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
    </header>
    <main>
        <header>
            <h1>Submission List</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Status</th>
                    <th scope="col">Language</th>
                    <th scope="col">Code Size</th>
                    <th scope="col">Time</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Submitted at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">87</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/87"><span class="pending">Pending</span></a></td>
                    <td>Common Lisp</td>
                    <td>2023 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">87</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/87"><span class="ac">Accepted</span></a></td>
                    <td>Common Lisp</td>
                    <td>2023 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">86</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/86"><span class="wa">WA on Test 7</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="tle">TLE on Test 3</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="mle">MLE on Test 8</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="re">RE on test 9</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="ce">Compile Error</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="uke">Unknown Error</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
                <tr>
                    <th scope="row">85</th>
                    <td>lrw04</td>
                    <td><a href="/problems/1">A + B Problem</a></td>
                    <td><a href="/submissions/85"><span class="sec">Secutiry Violation</span></a></td>
                    <td>C++</td>
                    <td>20230 B</td>
                    <td>2023 ms</td>
                    <td>2023 B</td>
                    <td>1:23</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>