<!DOCTYPE html>
<html>

<head>
    <title>{{.Config.Title}} - Submission #{{.Submission.ID}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <strong>{{.Config.Title}}</strong>
            <a href="/">Problems</a>
            <a href="/submission/"><strong>Submissions</strong></a>
        </nav>
    </header>
    <main>
        <header>
            <h1>Submission #{{.Submission.ID}}</h1>
        </header>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Size</th>
                    <th scope="col">Time</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Language</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Submitted at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.Submission.ID}}</td>
                    <td>{{.Submission.User}}</td>
                    <td>
                        <span class="{{.Submission.Verdict}}"></span>
                    </td>
                    <td>
                        {{.Submission.Code | len}} B
                    </td>
                    <td>
                        {{.Submission.TimeUsage}} ms
                    </td>
                    <td>
                        {{.Submission.MemoryUsage}} MiB
                    </td>
                    <td>{{.Submission.LanguageName}}</td>
                    <td><a href="/{{.Submission.Problem}}">{{.ProblemTitle}}</a></td>
                    <td>{{.Submission.Time | time_format}}</td>
                </tr>
            </tbody>
        </table>
        <pre><code>{{.Submission.Code}}</code></pre>
    </main>
    <footer>
        Made by lrw04
    </footer>
</body>

</html>